<p id="notice"><%= notice %></p>

<h1>Jira Projects</h1>

<%= form_for(form_for_object_from_param(:filter),
             url: jira_projects_path,
             method: :get) do |form| %>
  <%= hidden_field_tag :jira_user_id, params[:jira_user_id] %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Search' %>
  </div>
<% end %>

<% if @jira_projects.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Key</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @jira_projects.each do |jira_project| %>
        <tr>
          <td><%= jira_project['name'] %></td>
          <td><%= jira_project['key'] %></td>
          <td><%= link_to 'Create Issue',
                           new_jira_issue_path(
                            jira_user_id: params[:jira_user_id],
                            jira_project_id: jira_project['id']
                           ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
