<p id="notice"><%= notice %></p>

<h1>Jira Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jira_projects.each do |jira_project| %>
      <tr>
        <td><%= link_to 'Show', jira_project %></td>
        <td><%= link_to 'Edit', edit_jira_project_path(jira_project) %></td>
        <td><%= link_to 'Destroy', jira_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jira Project', new_jira_project_path %>
