<%= form_with(model: jira_issue, local: true) do |form| %>
  <% if jira_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jira_issue.errors.count, "error") %> prohibited this jira_issue from being saved:</h2>

      <ul>
      <% jira_issue.errors.each do |k, message| %>
        <li><%= message[:message] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :jira_user_id, params[:jira_user_id] %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.hidden_field :jira_project_id, value: params[:jira_project_id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
